langchain
huggingface
ipykernel
streamlit
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
pyowm
langchain-Groq
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
pytesseract
pdf2image
langserve
awscli
boto3
faiss-cpu
crewai
crewai_tools
fastapi
pinecone
sqlmodel
pydantic
langchain-huggingface
sentence-transformers
pinecone-text
pinecone-notebooks
python-docx
azure-ai-inference
prisma