langchain
huggingface

python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
pyowm
langchain-Groq
langchain-text-splitters
langchain-openai
chromadb

pytesseract
pdf2image


faiss-cpu
crewai
crewai_tools
fastapi
pinecone

pydantic
langchain-huggingface
sentence-transformers
python-docx
